
#body{
    background-color:rgba(6, 49, 82, 0.701);
    color: #2d2f32;
}

.image {
    width: 180px;
    border-radius: 50% !important;
}

.card {
    box-shadow: 0 0 10 0 white;
    background-color: rgba(253, 253, 255, 0.638);
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

hr{
    border: 1px solid rgb(157, 156, 156);
}
.card .card-head {
    font-size: 20px;

}

.card-body label{
    float: left;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.name, .other{
    display: flex;
}

.card .button {
    border-radius: 15px;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #0061f2;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    width: 140px;
    font-size: 15px;

}

.card .button:hover{
    color: #1a2f50;
}

.card input {
    border: 1px solid black;
    border-radius: 10px;
    width: 450px;
    height: 30px;
}

.name input, .other input{
    margin-left: 23px;
    width:210px;
}

label {
    font-weight: 500;
}