@font-face {
  font-family: "proxima_novaregular";
  src: url("../fonts/proxima_nova_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sigvarregular";
  src: url("../fonts/sigvarregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* FLIGHT DETAILS */

.main-headings {
  text-align: space-around;
  font-family: "sigvarregular", sans-serif;
  font-size: 30px;
  color: #003566;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-headings {
  background-color: rgb(240, 240, 240);
  font-family: "sigvarregular", sans-serif;
  line-height: 1.7;
  color: rgb(63, 63, 63);
  padding: 0 8px;
}

.sub-headings-middle {
  background-color: rgb(240, 240, 240);
  font-family: "sigvarregular", sans-serif;
  line-height: 1.7;
  color: rgb(63, 63, 63);
  padding: 0 8px;
  text-align: center;
}

.min-headings {
  line-height: 2;
  font-family: "sigvarregular", sans-serif;
  color: rgb(63, 63, 63);
}

.keep-nev-space {
  margin-top: 90px;
}

.flight-details {
  justify-content: center;
  display: flex;
  column-gap: 10px;
  margin: 10px;
  color: rgb(83, 83, 83);
}

.airline {
  width: 60px;
  margin-left: 10px;
  margin-top: 10px;
}

.content-table {
  border-collapse: collapse;
  margin: 10px 0px;
  min-width: 1150px;
  font-family: "proxima_novaregular", sans-serif;
  text-align: left;
}
tbody > tr {
  border-bottom: 1px solid rgba(122, 122, 122, 0.247);
}

.table-scroll {
  height: 550px;
  overflow: hidden;
  overflow-y: scroll;
}

.table-head th {
  font-weight: 30;
  padding: 10px 0 0 10px;
}

.table-body tr td {
  background-color: rgb(240, 240, 240);
  padding: 10px 0 0 10px;
}

.price-design {
  font-family: "proxima_novaregular", sans-serif;
  font-size: 24px;
}

.book-btn {
  padding: 9px 25px;
  font-family: "proxima_novaregular", sans-serif;
  font-size: 20px;
  color: #ffffff;
  background-color: #003566;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.book-btn:hover {
  background-color: #003566de;
}

.book-btn-cell {
  text-align: center;
}

.book-btn-cell .pop-up {
  text-align: left;
}

.pop-up-flight {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000000;
  border-radius: 10px;
  z-index: 10px;
  background-color: #ffffff;
  width: 500px;
  max-width: 80%;
  max-height: 70%;
  box-shadow: 5px 10px;
  visibility: hidden;
}

.pop-up-flight-scroll {
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
}

.open-pop-up {
  visibility: visible;
}

.pop-up-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pop-up-title {
  font-family: "proxima_novaregular", sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.pop-up-close-btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 30px;
  font-weight: bold;
}

.pop-up-body {
  padding: 10px 15px;
}

.input {
  font-size: 16px;
}
